tskit >= 0.3.5
pandas >= 1.2.2
numpy >= 1.20.1
tsdate >= 0.1.3
msprime >= 1.0.0a3
tsinfer >= 0.2.0
scikit-allel
matplotlib
sklearn
tqdm
daiquiri
pysam
numba
dask[complete]
cython >= 0.28
pyreadr
seaborn
mpld3
Bio
git+git://github.com/popsim-consortium/stdpopsim.git@main#e=stdpopsim
